<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp_Tam</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp_Tam.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/icon/icons8-hiragana-ma-64.png" /> Tuzla Bilişim
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <div class="navbar-nav me-auto">
                        <div class="btn-group btn-group">
                            <a type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Kategoriler</button>
                                <div class="dropdown-menu">
                                    @await Component.InvokeAsync("Kategori")
                                </div>
                            </div>
                            <a type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Yonetim">Yönetim</a>
                        </div>
                    </div>
                    <form class="d-flex" method="get" asp-controller="Home" asp-action="Ara">
                        <input class="form-control me-2" type="text" name="arama" placeholder="Arama" value="@ViewData["arama"]" autofocus autocomplete="on">
                        <button class="btn btn-primary" type="submit">Ara</button>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp_Tam</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; Mayıs 2022 - WebApp_Tam <a href="https://www.facebook.com/blenderWorks">blenderWorks <img src="/icon/icons8-facebook-48.png" width="30" style="vertical-align: middle" /></a> <a href="https://www.instagram.com/tarik.bagriyanik/">Tuzla Bilişim <img src="/icon/icons8-instagram-48.png" width="30" style="vertical-align: middle" /></a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
